<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @author.cell %>
</p>

<table width="400" border="1">
<% @author.books.each do |book| %>
<tr>
	<td><%= book.book_name %></td><td><%= book.book_price %></td>
</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
